body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: -999;
    background: #444;
}
.background img {
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}

/*Background Overlay*/
#background-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.151);
    z-index: -988;
    box-shadow: inset 0 -30px 100px rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(95, 131, 29, 0.315),rgba(90, 197, 170, 0.164),rgba(29, 77, 131, 0.034),rgba(29, 77, 131, 0.178),rgba(29, 77, 131, 0.336));
}
#background-overlay-clear {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -780;
    background-image: radial-gradient(rgba(23, 27, 32, 0.336),rgba(29, 77, 131, 0.027),rgba(29, 77, 131, 0.062),rgba(32, 59, 90, 0.178),rgba(33, 49, 70, 0.336));
}